<?xml version="1.0"?>
<config>
	<modules>
		<Popov_Retag>
			<version>0.1.0</version>
		</Popov_Retag>
	</modules>
	<global>
		<helpers>
			<popov_retag>
				<class>Popov_Retag_Helper</class>
			</popov_retag>
		</helpers>
		<blocks>
			<popov_retag>
				<class>Popov_Retag_Block</class>
			</popov_retag>
		</blocks>
		<models>
			<popov_retag>
				<class>Popov_Retag_Model</class>
				<!--<resourceModel>popov_base_resource</resourceModel>-->
			</popov_retag>
		</models>
    </global>

    <frontend>
        <routers>
            <popov_retag>
                <use>standard</use>
                <args>
                    <module>Popov_Retag</module>
                    <frontName>retag</frontName>
                </args>
            </popov_retag>
        </routers>
        <layout>
            <updates>
                <popov_retag>
                    <file>popov/retag.xml</file>
                </popov_retag>
            </updates>
        </layout>

        <events>
            <!-- this name is really important, use this to indicate the layout-render-before event -->
            <controller_action_layout_render_before>
                <observers>
                    <popov_retag_cookies_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetCookies</method>
                    </popov_retag_cookies_observer>
                </observers>
            </controller_action_layout_render_before>
            <!-- this name is really important, use this to indicate the layout-render-before event -->
            <controller_action_layout_render_before_cms_index_index>
                <observers>
                    <popov_retag_pixel_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_pixel_observer>
                </observers>
            </controller_action_layout_render_before_cms_index_index>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <popov_retag_pixel_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_pixel_observer>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <popov_retag_catalog_script_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_catalog_script_observer>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_catalog_category_layered>
                <observers>
                    <popov_retag_pixel_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_pixel_observer>
                </observers>
            </controller_action_layout_render_before_catalog_category_layered>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <popov_retag_pixel_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_pixel_observer>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
            <controller_action_layout_render_before_checkout_onepage_success>
                <observers>
                    <popov_retag_pixel_observer>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSetScript</method>
                    </popov_retag_pixel_observer>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_success>
            <controller_action_layout_render_before_checkout_onepage_success>
                <observers>
                    <popov_retag_send_back_request>
                        <type>singleton</type>
                        <class>Popov_Retag_Model_Observer</class>
                        <method>hookToSendBackRequest</method>
                    </popov_retag_send_back_request>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_success>
        </events>
    </frontend>


    <retargeting>
        <modules>
            <!--<Popov_CustomRetag/>-->
        </modules>
    </retargeting>
</config>